@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header{
  max-width: 1360px;
  width: 100%;
  margin: auto;
  background-color: #f6eddc;
  position: relative;
}

.pre-nav{
  width: 72.3%;
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.pre-nav p{
  text-transform: uppercase;
  padding: 10px 0;
}

.pre-nav a{
  text-transform: capitalize;
  color: #000000;
  font-size: 11.5px;
}

.pre-nav li{ padding: 11px 0 8px 35px; }

header::after{
  position: absolute;
  content: "";
  width: 100%;
  border-bottom: 1px solid #cccccc;
  top: 33px;
}

.nav-block{
  width: 72.30%;
  margin: auto;
  display: flex;
  margin-top: 2px;
  align-items: center;
}

.nav-block h1{
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 18px 0;
  position: relative;
}

h1::after{
  content: "";
  box-sizing: border-box;
  border: 4px solid #000000;
  background-color: #000000;
  font-size: 1px;
  height: 5px;
  width: 5px;
  position: absolute;
  transform: rotate(45deg) translate(12px, 5px);
}

.nav-block a{ color: #000000; }

nav{
  text-transform: uppercase;
  margin-left: 6.2%;
  font-size: 13.5px;
  letter-spacing: 1px;
  font-weight: bold;
  width: 40%;
}

nav li:first-child::after{
  content: "\f078";
  font-family: FontAwesome;
  font-weight: 500;
  font-size: 10px;
  position: relative;
  top: -2px;
  left: 5px;
}

nav li:nth-child(2){
  position: relative;
  left: 5px;
}

nav li{ margin-right: 13.5%; }
nav li:last-child{ margin-right: 0; }
nav li:nth-last-child(2){ margin-right: 12%; }

.search{
  background: #ffffff;
  border-radius: 25px;
  border: 1px solid #cccccc;
  margin-left: 3.2%;
}

.search input{
  border: 0px;
  border-radius: 25px;
  padding: 10px;
  padding-left: 14px;
  width: 220px;
}

.search input::placeholder{ font-weight: bold; }

.search a::after{
  content: "\f002";
  font-family: FontAwesome;
  font-size: 25px;
  color: #cccccc;
  margin: 0 3px;
  font-weight: 100;
  position: relative;
  top: 3px;
  right: 15px;
}

.nav-block>a::after{
  content: "\f07a";
  font-family: FontAwesome;
  font-size: 28px;
  color: #cccccc;
  font-weight: 100;
}

.nav-block>a{ margin-left: 1.1%; }

.search .Hide-me,
.nav-block .Hide-me{ display: none; }

input:focus{ 
  background-color: transparent;
  border: 0px solid;
  outline: none;
}

header a:hover{ color: #5b48a4;}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
.banner{ 
  width: 100%; 
  text-align: center; 
}

.mother-day-off{ 
  color: #A6CCFF;
  font-size: 14px;
  font-weight: bold;
  margin: 16px 0;
  font-family: Arial, sans-serif;
 }

 .mother-day-off::after{
   content: " \f054";
  font-family: FontAwesome;
  font-size: 15px;
  font-weight: 100;
 }

 .mother-day-off:hover{ color: #5b48a4; }

 .banner-block{
   background: no-repeat url("https://via.placeholder.com/1366x420");
   position: relative;
   padding: 209px 50%;
 }

 .banner-block a:hover{ background-color: #A6CCFF; }

 .banner-block a{
  text-transform: capitalize;
  position: absolute;
  left: 19.3%;
  top: 334px;
  font-size: 24px;
  color: #ffffff;
  background-color: #5b48a4;
  font-weight: bold;
  padding: 10px 16px;
 }
 
 .banner-bottom{
   background-color: #f4f9fc;
   padding: 40px 0;
 }

 .banner-bottom h4{
   font-size: 28px;
   font-weight: bold;
   letter-spacing: 1px;
   padding-bottom: 16px;
 }

 .banner-bottom p{
   font-size: 16px;
   /* letter-spacing: 1px; */
   padding-bottom: 5px;
   font-weight: bold;
 }

 .banner-bottom a{
   text-transform: uppercase;
   font-size: 14px;
   color: #ffffff;
   padding-bottom:20px ;
   padding-top: 20px;
   width: 15.4%;
   background-color: #f8a883;
   margin: 24px 15px 8px;
 }
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  